
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    padding: 15px;
    color: #fff;
}

.dialogsItems.active {
    color: gold;
}
.messages {
    padding: 10px;
    color: white;
}
.messages.message {
    color: white;

}